@import "./_mixins";
@import "./_splash";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";
@import "./_music";

.layout {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  padding: $content-padding;

  > .page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90%;
  }

  h1 {
    text-align: center;
  }
}

.page {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 100px;
      height: 100px;
      border-radius: $border-radius;
    }

    &-informations {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding-left: $content-padding;

      > h1 {
        text-align: left;
      }
    }
  }
}